@keyframes dynamicAppearance {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dynamicDisappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
