// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == 600 {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == 900 {
        @media only screen and (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == 1200 {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
    // @if $breakpoint == big-desktop {
    // 	 @media only screen and (min-width: 112.5em) { @content };    //1800
    // }
}

@mixin colorGradient($color-gradient) {
    background-image: $color-gradient;
    -webkit-background-clip: text;
    color: transparent;
}

// Flex positions

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex($align, $justify) {
    display: flex;

    @if $align != null {
        align-items: $align;
    }
    @if $justify != null {
        justify-content: $justify;
    }
}
@mixin flexColumn($align, $justify) {
    display: flex;
    flex-direction: column;

    @if $align != null {
        align-items: $align;
    }
    @if $justify != null {
        justify-content: $justify;
    }
}

@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin colorGradient($color-gradient) {
    background-image: $color-gradient;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin dynamicAppearance($time) {
    animation: dynamicAppearance $time ease forwards;
}

@mixin modalStyle {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-1;
}
